<div class="col-12">
    <form class="form">
        <div class="row">
            <div class="form-group col-6">
                <label for="code">Code d'agence</label>
                <input pInputText class="form-control" id="code" placeholder="Code">
            </div>
            <div class="form-group col-6">
                <label for="nom"> Nom de l'entreprise </label>
                <input pInputText class="form-control" placeholder="Nom">
            </div>
        </div>
        <div class="row mt-3">
            <div class="form-group">
                <label for="status">Statuts de l'entreprise</label>
                <select pInputText id="status" class="form-select">
                    <option selected>Selectionnez</option>
                    <option value="1">Ouvert</option>
                    <option value="2">Ferme</option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button pButton pRipple type="button" label="Enregistrer" class="mt-2 p-btn-success"></button>
        </div>
    </form>
</div>